<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jlokimlin.rice_timer">

    <!-- Add permission -->
    <uses-permission android:name="com.android.alarm.permission.SET_ALARM" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_noun_33800_cc"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.jlokimlin.rice_timer.rice_timer.AddRiceTimer"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.jlokimlin.rice_timer.rice_timer.preferences.RiceTimerPreferencesActivity"
            android:label="Rice Timer Preferences">
        </activity>
        <service
            android:name=".rice_timer.AddRiceTimer$RiceTimerService"
            android:exported="false"/>
    </application>

</manifest>